{% extends "base_page.html" %}

{% block page-title %}
{{ exercise_name }}
{% endblock %}

{% block page-lead %}
{{ exercise_description }}
{% endblock %}

{% block content %}
<div class="blanks">
  <ol>
    <form action="{% url 'submit_exercise' exercise_id %}" method="post">{% csrf_token %}
      {% for cnt, sentence_1st_half, user_input, true_input, primitive_cut_part, sentence_2nd_half in tasks_data %}
    <li class="classLi">
      <p>
        {% if true_input == user_input %}
        {{ sentence_1st_half }} {{ user_input }} ({{ primitive_cut_part }}) {{ sentence_2nd_half }}
        {% else %}
        {{ sentence_1st_half }} <input id="task" type="char" name="user_input_{{ cnt }}" maxlength="100" required="False" style="background-color: darksalmon;" value="{{ user_input }}" /> ({{ primitive_cut_part }}) {{ sentence_2nd_half }}
        {% endif %}
      </p>
    </li>
    {% endfor %}
    <input type="submit" value="Submit" required="false">
    </form>
  </ol>
</div>


{% endblock %}
